<div class="page">

  <div class="page-header">
    <h1>TRANSLATOR</h1>
  </div>

  <form action="" novalidate (submit)="submit()" #translateForm="ngForm" class="form-horizontal">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control" id="sourceLanguageCode" [(ngModel)]="model.sourceLanguageCode" name="sourceLanguageCode" required>
                  <option *ngFor="let lang of languages" [value]="lang.key">{{lang.value}}</option>
              </select>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="readSourceFromFile()" 
                    tooltip="Load text from file" container="body">
                    <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" (click)="changeLanguages()" 
                    tooltip="Change languages" container="body">
                  <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control no-validate" id="sourceText" name="sourceText" [(ngModel)]="model.sourceText" cols="30" rows="10" required
              [maxlength]="model.sourceTextMaxLength">{{model.sourceText}}</textarea>
          </div>

          <div class="form-group" *ngIf="model.sourceText">
            <p class="small pull-right">{{model.sourceText.length}}/{{model.sourceTextMaxLength}}</p>
          </div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control" id="targetLanguageCode" [(ngModel)]="model.targetLanguageCode" name="targetLanguageCode" required>
          <option *ngFor="let lang of languages" [value]="lang.key">{{lang.value}}</option>
          </select>
              <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" [disabled]="!canSubmit()">Translate</button>
          </span>
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" id="targetText" name="targetText" [(ngModel)]="model.targetText" #result cols="30" rows="10"
              readonly>{{model.targetText}}</textarea>
          </div>

          <div class="form-group">
            <p class="small pull-right">
              TRANSLATE IN:
              <button type="button" class="btn btn-link btn-xs" [disabled]="!canBingOrGoogleTranslate()" (click)="bingTranslate()" style="padding:0px;">BING</button>
              <button type="button" class="btn btn-link btn-xs" [disabled]="!canBingOrGoogleTranslate()" (click)="googleTranslate()" style="padding:0px;">GOOGLE</button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info" role="alert"><a class="btn btn-link" (click)="gotoYandexTranslate()">Powered by Yandex.Translate</a></div>
      </div>
    </div>

  </form>

</div>